
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
background-color: rgba(15, 3, 46, 0.938);
color:white;

}

.start_quiz_container{
  
    padding:20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    gap:20px;
    
}


.start_quiz_container button{
border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: 10px 18px;
    border-radius: 3px;

}
.start_quiz_container button:hover{
    background-color: rgba(45, 7, 133, 0.904);
    color:white;
    
}

.container{
    
    border-radius: 3px;
    width:50%;
    padding:20px;
    margin:20px 0px;
    background-color: rgba(245, 245, 245, 0.829);
    display: none;
    

}


.heading{
    background-color: rgba(65, 13, 185, 0.904);
    color:white;
    border-radius: 3px;
}

.heading h2{
text-align: center;
padding:10px 0px;
}

.heading .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 10px;

}

.questions_section{
    color:black;
    margin:20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.questions_section .question{
    font-weight: 560;
}

.questions_section .options_section{
    margin-top:15px;
    list-style: none;

}

.questions_section .options_section li{
    background-color: rgba(16, 7, 37, 0.904); 
    color:wheat;
    border-radius: 2px;
    padding:15px;
    margin:5px 0px;
    
}

.questions_section .options_section li:hover{
        background-color: rgba(38, 15, 92, 0.904);
        transition: background .3s ease;
}

.navigation_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:10px 0px;

}

.navigation_btns button{
    border:none;
    outline: none;
    background-color: rgba(65, 13, 185, 0.904);
        color: white;
        padding:10px 18px;
        border-radius: 3px;
}

.navigation_btns button:hover{
    background-color: rgba(45, 7, 133, 0.904);
}

#option_correct{
    
    background-color: rgb(4, 88, 4);
    color:white;
}

#option_incorrect{
    
        background-color: rgb(138, 8, 8);
        color: whitesmoke;
}

.score_box{
    width:100%;
    height:100vh;
   
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(10px);
    transition:display 0.3s ease-out;
    visibility: hidden;
    z-index:5;
}
.score_box_container{
  
    background-color:black;
        color: white;
        padding:20px;
        display: flex;
        justify-content: center;
        flex-direction:column;
        gap:20px;
        width:300px;
        border-radius: 4px;
        backdrop-filter:blur(10px);

}
.score_box_container h3{
    text-align:center;
}
.score_box_container button{
border: none;
    outline: none;
    background-color: rgba(65, 13, 185, 0.904);
    color: white;
    padding: 10px 18px;
    border-radius: 3px;
}

.score_box_container button:hover{
    background-color: rgba(45, 7, 133, 0.904);
}
